@import 'tailwindcss';
@import '@nuxt/ui';

@theme static {
  /* surface色を作成 */
  --color-surface-50: #ffffea;
  --color-surface-100: #fffbc5;
  --color-surface-200: #fff885;
  --color-surface-300: #ffee46;
  --color-surface-400: #ffdf1b;
  --color-surface-500: #ffc000;
  --color-surface-600: #e29400;
  --color-surface-700: #bb6902;
  --color-surface-800: #985108;
  --color-surface-900: #7c420b;
  --color-surface-950: #482200;

  /* テキストを黒色に設定 */
  --ui-text-inverted: var(--color-black);
}